/**
 * Styles for the testbed-page
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b2b2b2;
    margin: 0;
}

#wrapper #main {
    background: #ffffff;
    border: 1px solid black;
    box-shadow: black 2px 2px 2px;
    height: 1000px;
    margin: 20px auto;
    padding: 25px 15px;
    position: relative;
    width: 80%;
}

#wrapper #main .cookie-status {
    background-color: #ff0000;
    color: #000;
    font-size: 18px;
    left: 0;
    padding: 7px 15px;
    position: absolute;
    top: 0;
    width: 100%;
}

#wrapper #main .cookie-status.accepted {
    background-color: #00ff00;
    color: #fff;
}

#wrapper #main h1 {
    margin: 30px 0 20px 0;
}

#wrapper #main h2 {
    margin: 5px 0 10px;
}

#wrapper #main section {
    margin: 0 0 30px;
}

#wrapper #main section ul {
    list-style-position: inside;
    margin: 0 0 10px 10px;
}